/*tip*/
.mod-dialog-bg {
    background: #000;
    opacity: .5;
    filter: alpha(opacity=50);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: none;
}
.mod-dialog {
    background-color: #fff;
    border: solid 1px #82c92f;
    min-width: 300px;
    position: fixed;
    z-index: 1001;
    display: none;
    top: 29%;
    left: 38%;
}
.mod-dialog .dialog-nav {
    background: #82c92f;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    font-family: "\5b8b\4f53";
    height: 27px;
    line-height: 27px;
}
.mod-dialog .dialog-main {
    font-size: 14px;
    padding: 20px;
    text-align: center;
}
.mod-dialog .dialog-close {
    background: url(https://p.ssl.qhimg.com/t01f52bfc813182d0f3.png) no-repeat 0 0;
    height: 21px;
    position: absolute;
    right: 10px;
    top: 0;
    width: 43px;
}
.mod-dialog .dialog-content {
    font-size: 14px;
    line-height: 24px;
}
.mod-dialog .dialog-console {
    padding-top: 20px;
}
.clearfix_new {
    zoom: 1;
}
.mod-dialog .dialog-console a {
    background: url(https://p.ssl.qhimg.com/t01f52bfc813182d0f3.png) no-repeat 0 -22px;
    display: inline-block;
    font-size: 16px;
    height: 36px;
    line-height: 34px;
    text-align: center;
    width: 120px;
}
.clearfix_new:after {
    clear: both;
    content: '\20';
    display: block;
    height: 0;
}















/*placeholder*/
#h3 .__mall_suggest__ {
    background: #fff;
    border: 1px solid #23ac38;
    display: none;
}
#h3 .__mall_suggest__ li {
    cursor: pointer;
    font-size: 12px;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
    padding: 0 14px;
}
#h3 .__mall_suggest__ li .sug-item {
    float: left;
    overflow: hidden;
    width: 60%;
}
#h3 .__mall_suggest__ li .desc {
    color: #999;
    float: right;
    overflow: hidden;
    text-align: right;
    width: 40%;
}
#h3 .__mall_suggest__ li em {
    color: #2daa3f;
    font-style: normal;
}
#h3 .__mall_suggest__ .hover {
    background: #eee;
}


/*placeholder*/
.u-flyer{display: block;
    width: 35px;height: 35px;border-radius:100%;
    position: fixed;z-index: 9999;}

#loginafter #login-usn {
    color: #bfbfbf;
    cursor: pointer;
    display: block;
    font-size: 12px;
    height: 36px;
    line-height: 36px;
    text-align:center;
    width: 120px;
    position: absolute;
    top: 0;
    left: 0;
}
#h1 .top-container ul li  #loginafter:hover{
    background-color: #fff;
}
#loginafter:hover #login-usn {
    color: #23ac38;
}
/*
#h1 .top-container ul li  #loginafter #login-usn:hover{
    background-color: #fff;
}
*/



*{margin: 0;padding: 0;list-style: none;}
#elevator{
    background-color: #fff;
    left: 50%;
    margin-left: -684px;
    position: fixed;
    text-align: center;
    top: 25%;
    width: 40px;
    z-index: 1119;
}


#h1 {color: #f5f5f5;font-size: 12px;}
#topshopcart:hover #cart-hidden{
display: block;
}
img, input, textarea, button {
    border: 0;
    vertical-align: middle;
}
a {
    color: #666;
    outline: none;
    text-decoration: none;
}
body .header a:hover {
    cursor: auto;
    color: #23ac38;
   /* font-weight: bold;*/
}
body .crumbs .hide .hide1 a:hover {
    cursor: auto;
    color: #23ac38;
}
dt {
    display: block;
}
body {
    background-color: #f5f5f5;
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    min-width: 1240px;
    overflow: auto;
    color: #666;
    overflow-x: hidden;
    position: relative;
}
i, cite, em, var, address, dfn {
    font-style: italic;
}

#login-usn {
    color: #bfbfbf;
    cursor: pointer;
    display: block;
    font-size: 12px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    width: 120px;
    position: absolute;
    top: 0;
    left: 0;
}

#loginafter #after-hidden{
    color: #bfbfbf;
    cursor: pointer;
    display: none;
    font-size: 12px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    width: 120px;
    position: absolute;
    top: 36px;
    left: 0;
    background: #fff;
    font-size: 12px;
}
#loginafter:hover #after-hidden{
    display: block;
}


.xiding{z-index: 444444;}
/*header*/
.header{
    background-color: #fff;
    border-bottom: 1px solid #363636;
    positon:relative;
}
.header a{
    color: #bfbfbf;
    font-size: 12px;
}
/*h1*/
.header .topbox{
    background: #363636;
}
.header .top-container{
    margin: 0 auto;
    width: 1240px;
}
.top-container:after{
    clear: both;
    content: "";
    display: block;
}
.topbox .leftitem {
    float: left;
}
.topbox .rightitem {
    float: right;
}
.navloginbox {
    position: relative;
}
.topbox .topbox-item a {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    margin: 0 10px;
    vertical-align: middle;
}
.topbox .telshop {
    padding-left: 26px;
    position: relative;
}
.topbox .telshop i {
    animation: rotateme .3s infinite;
    background: url(https://p.ssl.qhimg.com/t01f2d40797748448d3.png) no-repeat -2px -268px;
    height: 15px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 22px;
}
.topbox .hassx:before {
    content: "|";
    margin-top: -1px;
    margin-left: -2px;
    padding-right: 8px;
}
.loginbefore {
    margin: 0 10px;
}

/*h2*/
.header .h2{

    background-position: top center;
    display: block;
    text-indent: -99999px;
    color: #bfbfbf;
    font-size: 12px;
    background-image: url(http://p0.qhimg.com/t01330e10eafbd3f5fd.jpg);
    z-index: 39999;
   /* position: absolute;*/

}
/*h3*/
.header-logo {
    float: left;
    height: 98px;
    line-height: 98px;
    overflow: hidden;
}
.header-tools {
    float: right;
    padding-top: 30px;
    width: 740px;
}
.header-logo img {
    vertical-align: middle;
}
.suggest-box {
    float: left;
    height: 46px;
    margin-left: 12px;
    position: relative;
    vertical-align: top;
}
.topshopcart {
    float: right;
    padding: 0;
    position: relative;
}
.suggest-box .suggest {
    border: 1px solid #23ac38;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    width: 434px;
}
.suggest-box input {
    outline: 0;
    vertical-align: top;
}
.suggest-box .search-btn {
    background: #36aa3f url(https://p.ssl.qhimg.com/t01f2d40797748448d3.png) no-repeat 24px -110px;
    border: 0;
    cursor: pointer;
    height: 42px;
    width: 72px;
}
.topshopcart .header-cart {
    background: #f9f9f9;
    border: 1px solid #ddd;
    color: #363636;
    display: inline-block;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 156px;
}
.topshopcart .header-cart-popup {
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 4px rgba(0,0,0,.2);
     display: none; /**/
    font-size: 12px;
    margin-top: -1px;
    position: absolute;
    right: 0;
    top: 42px;
    width: 380px;
    z-index: 101;
}
.topshopcart .header-cart .icon {
    background: url(https://p.ssl.qhimg.com/t01f2d40797748448d3.png) 0 0 no-repeat;
    display: inline-block;
    height: 15px;
    margin: 0 6px -3px 7px;
    width: 20px;
}
.topshopcart .header-cart .cart-size {
    color: #bfbfbf;
    display: inline-block;
    font-size: 12px;
    height: 19px;
    line-height: 19px;
    text-align: center;
    width: 19px;
}
.topshopcart .cart-tips {
    color: #666;
    /* display: none; */
    padding: 40px 0;
    text-align: center;
}
.topshopcart .pop-show-tip .cart-tips {
    display: block;
}
.topshopcart .pop-show-tip .cart-tips a {
    text-decoration: underline;
}
.topshopcart .pop-show-tip .cart-tips a, .navbar .top-item a:hover {
    color: #23ac38;
}
/*h4*/
.navbox{position: relative;}
.clearfix, .clearfix_new {
    zoom: 1;
}
.navbar, .navbar .top-item {
    float: left;
}
.navbar .top-item {
    line-height: 37px;
    padding: 0 12px;/**/
    text-align: left;
}
.navbar .topfirst {
    background-color: #363636;
    margin-right: 26px;
    padding: 0;
}
.navbar .topfirst, .side-category .categorylist {
    width: 210px;
}
.clearfix:after, .clearfix_new:after {
    clear: both;
    content: '\20';
    display: block;
    height: 0;
}
.navbar .top-item a {
    color: #323334;
    display: block;
    font-size: 16px;
    position: relative;
    text-decoration: none;
}
.navbar .topfirst a {
    color: #fff;
    margin-left: 30px;
    padding-left: 36px;
    position: relative;
}
.navbar .topfirst a:before {
    background: url(https://p.ssl.qhimg.com/t01f2d40797748448d3.png) no-repeat;
    background-position: 3px -300px;
    content: "";
    height: 26px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 26px;
}
.navbar .topnew a:before, .navbar .topfree a:before {
    background: url(https://p.ssl.qhimg.com/t01f2d40797748448d3.png) no-repeat 0 -191px;
    content: '';
    display: inline-block;
    height: 18px;
    position: absolute;
    right: -16px;
    top: -6px;
    width: 30px;
}
.header #move-color{
    height: 37px;
    position: absolute;
    background: rgba(222,11,0,.3);
    left:320px;
    top: 0;
    border-radius: 4px;
    display: none;
}
#act{
    background: rgba(222,11,0,.3);
    border-radius: 4px;
    height: 37px;

}
/*二级 hidden*/
.sublistbox {
    background: rgba(255,255,255,.96);
    border-top: 1px solid #ddd;
    box-shadow: 0 4px 4px rgba(0,0,0,.2);
    display: none;
    height: 231px;
    left: 0;
    line-height: normal;
    position: absolute;
    top: 37px;
    width: 100%;
    z-index: 33333;
}
.sub-nav-list {
    margin: 30px auto 25px;
    width: 1240px;
}
.sub-nav-list li {
    float: left;
    overflow: hidden;
    padding: 0 40px;
    position: relative;
    width: 120px;
}
.sub-nav-list li img {
    height: 120px;
    width: 120px;
}
.sub-nav-list li span, .sub-nav-list li i {
    color: #232426;
    display: block;
    font-size: 12px;
    font-style: normal;
    height: 18px;
    line-height: 18px;
    margin-top: 12px;
    overflow: hidden;
    text-align: center;
    width: 120px;
}
.sub-nav-list li i {
    color: #ee4a25;
    margin-top: 2px;
}

























/*轮播图 面包屑*/
.mod-index {
    position: relative;
}
/*轮播图*/
.mod-index .banner{positon:relative;height: 448px;}
.mod-index .banner .slideBox{height:100%;}
.mod-index .banner .slideBox a{position: absolute;top: 0;left: 0;text-align: center;width: 100%;height: 100%;}
.banner .slide-prev, .banner .slide-next {
    background: transparent url(https://p.ssl.qhimg.com/t01b09536cfd3dac8ba.png) no-repeat -179px -143px;
    border-radius: 2px;
    height: 72px;
    left: 50%;
    margin-top: -36px;
    position: absolute;
    top: 50%;
    width: 42px;
    z-index: 11111;
}
.banner .slide-next:hover{background-color: rgba(0,0,0,.4);}
.banner .slide-prev:hover{background-color: rgba(0,0,0,.4);}
.banner .slide-prev {
    margin-left: -400px;
}
.banner .slide-next {
    background-position: -177px -74px;
    margin-left: 568px;
    z-index: 11111;

}
.banner .slide-point {
    border-radius: 14px;
    bottom: 15px;
    display:block;
    height: 14px;
    left: 50%;
    padding: 7px 14px;
    position: absolute;
    text-align: center;
    margin-left: 35px;
    z-index: 11111;

    /* background: #ff7800;*/
}
.banner .slide-point a {
    background: rgba(0,0,0,.3)!important;
    border-radius: 10px;
    display: inline-block;
    height: 12px;
    margin: 1px 0 1px 15px;
    vertical-align: top;
    width: 12px;
    z-index: 11111;
}
.banner .slide-point a:first-child{margin-left: 0;}
 .active{/**/
     z-index: 11111;
     background: rgba(255,255,255,.9)!important;
    box-shadow: 0 0 2px #f00;
}
/*面包屑*/
.crumbs {
    color: #fff;
    left: 50%;
    margin-left: -620px;
    position: absolute;
    top: 0;
    z-index: 22222;
    color: #fff;
}
.crumbs ul{width: 210px;}
.crumbs ul li {
    background: rgba(255,255,255,.88);
    font-size: 0;
    height: 56px;
    line-height: 56px;
}
.crumbs ul li:hover {
    background-color: #fff;
}
.crumbs > ul > li > a{
    color: #1b1b1b;
    display: block;
    font-size: 15px;
    margin-left: 30px;
    padding-left: 36px;
    position: relative;
}

.crumbs > ul > li > a:before{
    background: url(https://p.ssl.qhimg.com/t01b09536cfd3dac8ba.png) no-repeat;
    background-position-x: -9px;
    content: "";
    height: 26px;
    left: 0;
    position: absolute;
    top: 15px;
    width: 26px;
}
.crumbs >ul .m1 a:before{background-position-y: -17px;}
.crumbs >ul .m2 a:before{background-position-y: -73px;}
.crumbs >ul .m3 a:before{background-position-y: -129px;}
.crumbs >ul .m4 a:before{background-position-y: -185px;}
.crumbs >ul .m5 a:before{background-position-y: -241px;}
.crumbs >ul .m6 a:before{background-position-y: -297px;}
.crumbs >ul .m7 a:before{background-position-y: -409px;}
.crumbs >ul .m8 a:before{background-position-y: -353px;}

.crumbs > ul > li .hide{
    display: none;/**/
    z-index: 22222;
    position: absolute;
    top: 0;
    background: #fff;
    left: 210px;
    overflow: hidden;
    padding: 24px 0;
    width: 1030px;
}
.crumbs > ul > li .hide .hide1{
    float: left;
    margin-left: 20px;
    min-height: 352px;
    padding-bottom: 48px;
    position: relative;
    width: 700px;
}
.crumbs > ul > li .hide .hide1 dl{
    margin-bottom: 13px;
    overflow: hidden;
}
.crumbs > ul > li .hide .hide1 dl dt{
    float: left;
    line-height: 16px;
    margin-top: 2px;
    text-align: right;
    width: 100px;
}
.crumbs > ul > li .hide .hide1 dl dt a{
    color: #31373c;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    overflow: hidden;
    text-align: justify;
    width: 80px;
}
.crumbs > ul > li .hide .hide1 dl dt i{
    color: #31373c;
    display: inline-block;
    font: 400 9px/14px consolas;
    height: 14px;
    margin-left: 10px;
    position: absolute;
    width: 4px;
}

.crumbs > ul > li .hide .hide1 dl dd{
    border-bottom: 1px dashed #e0e0e0;
    display: block;
    line-height: 16px;
    margin-left: 130px;
    padding-bottom: 13px;
}
.crumbs > ul > li .hide .hide1 dl dd a{
    color: #31373c;
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    margin-right: 6px;
}
.crumbs > ul > li .hide .hide1 .brand-logo{
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    bottom: 0;
    display: inline-block;
    left: 20px;

    height: 49px;
    overflow: hidden;
    position: absolute;
}

.crumbs > ul > li .hide .hide1 .brand-logo  > img{
    display: block;
    height: 47px;

    width: 131px;
    float: left;
}
/**/
.crumbs > ul > li .hide .hide2{
    float: left;
    margin-left: 10px;
}
.crumbs > ul > li .hide .hide2 img{
    height: 400px;
    overflow: hidden;
    width: 240px;
}

/**/
/**/

/*elevator*/
.elevator{
    background-color: #fff;
    left: 50%;
    margin-left: -684px;
    position: fixed;
    text-align: center;
    top: 25%;
    width: 40px;
    z-index:1119;
}
.elevator ul li {
    background: url(https://p.ssl.qhimg.com/t01b09536cfd3dac8ba.png) no-repeat;
    border: 1px solid #ddd;
    cursor: pointer;
    height: 38px;
    margin-top: -1px;
    overflow: hidden;
    background-position-x: -120px;
}
.elevator ul li a {
    display: none;
    font-size: 12px;

    line-height: 38px;
   /* padding: 5px 0;*/
}
.elevator ul li:hover a{
    display: block;
    color: #666;
    background: #f5f5f5;
    line-height: 15px;
    text-align: center;
    padding: 5px 0;

}
.elevator ul li:hover .on,.elevator ul li .on{
    display: block;
    background: #666;
    color: #f5f5f5;
    line-height: 15px;
    text-align: center;
    padding: 5px 0;
    z-index: 2333;

}


/*slide bar */
.sideBar{
    position:fixed;
    bottom:20px;
    right: 2px;
    width: 40px;
    text-align: center;
    background-color: #fff;
    z-index: 3000;


}
.sideBar ul li {
    background: url(https://p.ssl.qhimg.com/t01f18d2a4d8ecc8a10.png) no-repeat;
    border: 1px solid #ddd;
    cursor: pointer;
    height: 38px;
    margin-top: -1px;
    overflow: hidden;
    background-position-x: 0px;
    display: block;
    transition: background-color .2s;
}


.sideBar ul li a {
    display: none;
    font-size: 12px;
}
.sideBar ul li:hover a{
    display: block;
    color: #fff;
    background: #666;
    line-height: 15px;
    padding: 5px ;
}
 .sideBar ul li .hidden{
    display: none;/**/
    opacity: 0;
    position:absolute;
    background: #fff;
    border: 1px solid #ccc;
    left: -210px;
    padding: 15px 20px;
    position: absolute;
    top: -53px;
    width: 130px;
}

.sideBar ul li:hover .hidden{
    display: block;/**/
    opacity: 1;
    position:absolute;
    background: #fff;
    border: 1px solid #ccc;
    left: -182px;
    padding: 15px 20px;
    position: absolute;
    top: -53px;
    width: 130px;
}


.sideBar ul li .arrowr-bg{
    width: 0;
    z-index: 11111;
    height: 0;
    position: absolute;
    border-top: 11px solid transparent;
    border-left: 15px solid #ccc;
    border-bottom: 11px solid transparent;
    right: -15px;
 /*   top: 142px;*/
}
.sideBar ul li  .arrowr{
     width: 0;
     z-index: 111;
     border-top: 10px solid transparent;
     border-left: 14px solid #fff;
     border-bottom: 10px solid transparent;
     height: 0;
     position: absolute;
     right: -14px;
 }


.sideBar ul li img{
    height: 130px;
    text-align: center;
    width: 130px;
}
.sideBar ul li p{
    font-size: 13px;
    padding-top: 10px;
    text-align: center;
}

/*footer*/
.mod-footer a {
    color: #848484;
    text-decoration: none;
}
.mod-footer {
    background: #fff;
    clear: both;
    color: #666;
    font: 12px "微软雅黑",Verdana,SimHei,"Microsoft JhengHei",Tahoma;
}
/*1*/
.mod-footer .foot-bannerw {
    border-top: solid 1px #e8e8e8;
    border-bottom: solid 1px #e8e8e8;
    padding: 16px 0;
    width: 100%;
}
.mod-footer .clearfix {
    zoom: 1;
}
.mod-footer .foot-banner {
    color: #302e33;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
    width: 1240px;
}
.mod-footer .banner-item {
    border-right: solid 1px #e8e8e8;
    color: #302e33;
    float: left;
    height: 60px;
    line-height: 60px;
    width: 33%;
}

.mod-footer .clearfix:after {
    clear: both;
    content: '\20';
    display: block;
    height: 0;
}
.clearfix:after, .clearfix_new:after {
    clear: both;
    content: '\20';
    display: block;
    height: 0;
}
.mod-footer .banner-item i {
    border: 2px solid #23ac38;
    border-radius: 20px;
    color: #23ac38;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    height: 36px;
    line-height: 36px;
    margin-right: 10px;
    vertical-align: middle;
    width: 36px;
}
.mod-footer .foot-container {
    margin: 0 auto;
    padding: 30px 0;
    width: 1240px;
}
.mod-footer .clearfix {
    zoom: 1;
}
.mod-footer .foot-con {
    float: left;
    padding-right: 0;
    width: 16%;
}
.mod-footer .contactus {
    width: 18%;
}
.mod-footer .foot-con dt {
    color: #302e33;
    font-size: 16px;
    line-height: 40px;
}
.mod-footer .foot-con dd {
    color: #848484;
    font-size: 12px;
    line-height: 30px;
}
.mod-footer .call-number {
    color: #4aba00;
    font-size: 20px;
    line-height: 40px;
    vertical-align: top;
}
.mod-footer .servicebox {
    clear: both;
    margin-top: 20px;
}
.mod-footer .servicebox a {
    display: inline-block;
    margin-right: 5px;
    position: relative;
}
.mod-footer .wxtips {
    display: none;
    left: -50px;
    position: absolute;
    top: -140px;
}
.mod-footer .weibo .wxtips {
    left: -57px;
}

/*2*/
.mod-footer .foot-containerw {
    border-bottom: solid 1px #e8e8e8;
}
/*3*/
.mod-footer .footer-copyright {
    clear: both;
    color: #848484;
    font-size: 12px;
    line-height: 22px;
    padding: 30px 0;
    text-align: center;
}
/*
p
*/
/*p0*/
.p0{/*width: 100%;*/height: 320px; /*display: block;*/}
.p0 .p0-container {
    margin: 12px auto;
    display: block;
    position: relative;
    width: 1240px;
}
.p0 .p0-container li:first-child{
    margin-left: 0;
}
.p0 .p0-container li{
    float: left;
    margin-left: 10px;
    transition: all .5s ease;
    zoom: 1;
}
.p0 .p0-container li:hover {
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);transform: translate3d(0,-2px,0);
}
.p0 .p0-container li a{
    display: block;
    height: 320px;
    width: 240px;
}
.p0 .p0-container li a img{
    display: block;
    height: 320px;
    width: 240px;
}
/*p1*/
































